#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        /*
         * Your diode stripe is toward the ROW.
         */
        diode-direction = "col2row";

        /*
         * ROWS
         *
         * Top -> Bottom
         */

        row-gpios =
            <&gpio0 20 GPIO_ACTIVE_HIGH>, /* Row 0 */
            <&gpio0 22 GPIO_ACTIVE_HIGH>, /* Row 1 */
            <&gpio0 24 GPIO_ACTIVE_HIGH>, /* Row 2 */
            <&gpio1 0  GPIO_ACTIVE_HIGH>, /* Row 3 */
            <&gpio0 11 GPIO_ACTIVE_HIGH>; /* Row 4 */


        /*
         * COLUMNS
         *
         * IMPORTANT:
         *
         * Physical wiring is:
         *
         * Column 7 = P1.15
         * Column 6 = P1.13
         * Column 5 = P1.11
         * Column 4 = P0.10
         * Column 3 = P0.09
         * Column 2 = P1.06
         * Column 1 = P1.04
         *
         * We intentionally reverse them here so
         * software C0 is the LEFTMOST key.
         */

        col-gpios =
            <&gpio1 15 GPIO_ACTIVE_HIGH>, /* Software C0 = physical C7 */
            <&gpio1 13 GPIO_ACTIVE_HIGH>, /* Software C1 = physical C6 */
            <&gpio1 11 GPIO_ACTIVE_HIGH>, /* Software C2 = physical C5 */
            <&gpio0 10 GPIO_ACTIVE_HIGH>, /* Software C3 = physical C4 */
            <&gpio0 9  GPIO_ACTIVE_HIGH>, /* Software C4 = physical C3 */
            <&gpio1 6  GPIO_ACTIVE_HIGH>, /* Software C5 = physical C2 */
            <&gpio1 4  GPIO_ACTIVE_HIGH>; /* Software C6 = physical C1 */
    };


    /*
     * ========================================================
     * 29 KEY MATRIX TRANSFORM
     * ========================================================
     */

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";

        columns = <7>;
        rows = <5>;

        map = <

            /*
             * ROW 0
             *
             * 6 keys
             *
             * C0 C1 C2 C3 C4 C5
             */

            RC(0,0)
            RC(0,1)
            RC(0,2)
            RC(0,3)
            RC(0,4)
            RC(0,5)


            /*
             * ROW 1
             *
             * 6 keys
             *
             * C0 C1 C2 C3 C4 C5
             */

            RC(1,0)
            RC(1,1)
            RC(1,2)
            RC(1,3)
            RC(1,4)
            RC(1,5)


            /*
             * ROW 2
             *
             * 7 keys
             *
             * C0 C1 C2 C3 C4 C5 C6
             */

            RC(2,0)
            RC(2,1)
            RC(2,2)
            RC(2,3)
            RC(2,4)
            RC(2,5)
            RC(2,6)


            /*
             * ROW 3
             *
             * 6 keys
             *
             * C0 C1 C2 C3 C4 C5
             */

            RC(3,0)
            RC(3,1)
            RC(3,2)
            RC(3,3)
            RC(3,4)
            RC(3,5)


            /*
             * ROW 4
             *
             * 4 keys
             *
             * C2 C3 C4 C6
             */

            RC(4,2)
            RC(4,3)
            RC(4,4)
            RC(4,6)
        >;
    };
};