#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";


        /*
         * ====================================================
         * DEFAULT LAYER
         * ====================================================
         *
         * Normal left-hand QWERTY layout.
         *
         * 29 keys total.
         */

        default_layer {

            bindings = <

                /*
                 * --------------------------------------------
                 * ROW 1
                 * --------------------------------------------
                 *
                 * 1 2 3 4 5 6
                 */

                &kp N1
                &kp N2
                &kp N3
                &kp N4
                &kp N5
                &kp N6


                /*
                 * --------------------------------------------
                 * ROW 2
                 * --------------------------------------------
                 *
                 * TAB Q W E R T
                 */

                &kp TAB
                &kp Q
                &kp W
                &kp E
                &kp R
                &kp T


                /*
                 * --------------------------------------------
                 * ROW 3
                 * --------------------------------------------
                 *
                 * ESC A S D F G BSPC
                 */

                &kp ESC
                &kp A
                &kp S
                &kp D
                &kp F
                &kp G
                &kp BSPC


                /*
                 * --------------------------------------------
                 * ROW 4
                 * --------------------------------------------
                 *
                 * SHIFT Z X C V B
                 */

                &kp LSHFT
                &kp Z
                &kp X
                &kp C
                &kp V
                &kp B


                /*
                 * --------------------------------------------
                 * ROW 5
                 * --------------------------------------------
                 *
                 * GUI ALT CTRL SPACE
                 */

                &kp LGUI
                &kp LALT
                &kp LCTRL
                &kp SPACE
            >;


            /*
             * =================================================
             * ROTARY ENCODER
             * =================================================
             *
             * Clockwise     = Volume Up
             * Counterclockwise = Volume Down
             */

            sensor-bindings = <
                &inc_dec_kp C_VOL_UP C_VOL_DN
            >;
        };
    };
};